<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TETRIS</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div>
        <div class="text-box">
            <div>
                <br>
                <h1>TETRIS</h1>
                <br><br><br><br><br><br>
                <div class="te">
                    <a href="/level">
                    <h2 class="p2">S T A R T</h2>
                </a>
                </div><br><br><br><br>
                <h3>조작키 : ← → ↑ ↓ <br>
                    스페이스 : 블록드롭
                </h3>
            </div>
        </div>
    </div>
</body>

</html>