<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TETRIS</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div>
        <div class="text-box">
            <div>
                <br>
                <h1>TETRIS</h1>
                <br><br><br>
                <div class="level-box">
                    <a href="/easy"><div><button>EASY</button></div><br><br></a>
                    <a href="/normal"><div><button>NORMAL</button></div><br><br></a>
                    <a href="/hard"><div><button>HARD</button></div><br><br></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>